.container {
  max-width: 1000px;
  margin-left: auto; margin-right:auto;
  padding: 1rem;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 3em;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 1 rem;
  font-size: 1.5rem;
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  background-color:tan;
  border: 0.2rem solid transparent;
  border-radius: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  transition: 0.2s ease;
}

.btn:hover {
  background-color:bisque;
  border-color: #00000088;
}

.small {
  font-size: 1.5rem;
}

.imgy {
  display: relative;
  margin-bottom: 1rem;
  max-width: 100%;
}
